.vscode
__pycache__
__MACOSX
.DS_Store
.fseventsd
resources
results
contrib
decoders
!*fluster/decoders
subprojects/hm/
subprojects/isobmff/
subprojects/jm/
subprojects/libtsp-v7r0
subprojects/mpeg2aac
subprojects/mpeg2video
subprojects/vvcsoftware_vtm/
subprojects/vvdec/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
