.vscode
.idea
venv
__pycache__
__MACOSX
.DS_Store
.fseventsd
resources
results
contrib
decoders
!*fluster/decoders

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
