# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: fluster

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  commit-validation:
    name: Validate commits
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install pre-commit
      run: pip install pre-commit==2.21.0

    - name: Install pre-commit hooks
      run: pre-commit install

    - name: Validate all commit messages
      run: |
        git fetch --prune --unshallow
        BASE_REF=${{ github.base_ref }}
        if [ -z "$BASE_REF" ]; then
          BASE_REF="master"
        fi
        git rev-list --no-merges origin/$BASE_REF..${{ github.sha }} > commits.txt
        while read commit; do
          echo "Validate commit: $commit"
          git show -s --format=%B $commit > commit-msg.txt
          pre-commit run conventional-pre-commit --hook-stage commit-msg --commit-msg-filename commit-msg.txt || exit 1
        done < commits.txt

    - name: Validate all files
      run: |
        pre-commit run --all-files --show-diff-on-failure

  min_linux:
    name: linux with min supported deps
    runs-on: ubuntu-22.04
    needs:
      - commit-validation

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.7
      uses: actions/setup-python@v5
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        make install_deps
    - name: Check (Skipping H.266 due to old Ubuntu version)
      run: |
        SKIP_H266=1 make check
    - name: Test Build the wheel
      run: |
        pip wheel .

  linux:
    runs-on: ubuntu-24.04
    needs:
      - commit-validation

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install system build tools and libraries
      run: |
        sudo apt update
        sudo apt install -y build-essential cmake git pkg-config nasm ffmpeg
    - name: Install VVdeC dependency for H.266
      run: |
        git clone --depth 1 https://github.com/fraunhoferhhi/vvdec.git
        cd vvdec
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
        make -j$(nproc)
        sudo make install
        sudo ldconfig
        cd ../..
        rm -rf vvdec
    - name: Install dependencies
      run: |
        make install_deps
    - name: Check
      run: |
        make check
    - name: Test Build the wheel
      run: |
        pip wheel .

  windows:
    runs-on: windows-2022
    needs:
      - commit-validation

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.7
      uses: actions/setup-python@v5
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        make install_deps
    - name: Check
      run: |
        make check
    - name: Test Build the wheel
      run: |
        pip wheel .
